body {

  background-image: url(stars.png);
  background-repeat: no-no-repeat;
}

body *{
  font-family: Arial;
}

h1,h2,h3,h4,h5{
  font-weight: normal;
  margin: 0;
}

a, a:hover, a:visited{
  color:#fff;
  text-decoration: none;
}
